<h1>About App</h1>

<body><center>

	<div class="AboutMe">This is an app built for recipes. The recipes are taken from other sites. <br>
	Link to sites: <br>
	<a href="https://cooking.nytimes.com/guides/11-how-to-roast-chicken">Roast Chicken</a> <br>
	<a href="https://natashaskitchen.com/pan-seared-steak/">Steak</a> <br>
	<a href="https://www.koreanbapsang.com/kimchi-soondubu-jjigae-soft-tofu-stew-kimchi/">Kimchi Stew</a>
</div> <!--class--->












</center>
</body>